  <!-- Header -->
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
    <a class="navbar-brand" href="#" style="color: #ffffff; font-family:Monserrate;">Mahi Cupcakes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" style="color:#ffffff" href="#">Home</a>
        <a class="nav-item nav-link" style="color:#ffffff" href="#">Features</a>
        <a class="nav-item nav-link" style="color:#ffffff" href="#">Pricing</a>
      
      </div>
    </div>
    </div>
  </nav>
<!-- Middle1 -->
<div class="jumbotron" style="background-color: #80F7D1;" >
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-md-6 offset-lg-4 offset-sm-4 offset-md-4">
      <img src="../assets/images/cupcake.jpg" style="border-radius:100px;">
    </div>
    </div>
    <h1 style="font-family: Monserrate;text-align: center;">GET THE TASTY CUPCAKES TODAY.</h1>
<div class="col-lg-4 col-md-4 col-sm-4 offset-lg-4 offset-md-4 offset-sm-4">
    <div class="row" >
      <hr style="width: 150px; color: black;">
      <i class="fa fa-star" aria-hidden="true"></i>
      <hr style="width: 150px;  color: black;">  
</div>
</div>
  </div>
</div>
<br>

<!-- Middle2 -->
<h1 style="text-align: center;"> Portfolio</h1>
<div class="container">
  <div class="row" style="margin-top: 20px;">
    <div class="col-4" >
      <div class="card" style="border-color: #ffffff;">
        <img src="../assets/images/download (4).jpg" class="card-img-top" style="height: 200px; border-radius: 15px;">
       
      </div>
    </div>
    <div class="col-4">
      <div class="card"style="border-color: #ffffff;" >
        <img src="../assets/images/images.jpg" class="card-img-top" style="height: 200px; border-radius: 15px;">
        
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="border-color: #ffffff;">
        <img src="../assets/images/download.jpg" class="card-img-top" style="height: 200px; border-radius: 15px;">
       
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-4">
      <div class="card" style="border-color: #ffffff;">
        <img src="../assets/images/download (3).jpg" class="card-img-top" style="height: 200px; border-radius: 15px;">
       
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="border-color: #ffffff;">
        <img src="../assets/images/download (1).jpg" class="card-img-top" style="height: 200px; border-radius: 15px;">
        
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="border-color: #ffffff;">
        <img src="../assets/images/download (2).jpg" class="card-img-top" style="height: 200px; border-radius: 15px;">
       
      </div>
    </div>
  </div>
</div>
<!-- footer -->
<div class="jumbotron bg-dark" style="margin-top: 50px;">
  <div class="container">
    <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h4 style="color: #ffffff;">Location</h4>
      <p style="color: #ffffff;">Palam Colony,New Delhi</p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <h4 style="color: #ffffff;">Around Social Media</h4>
    <i class="fa fa-facebook" style="color: #ffffff;" aria-hidden="true"></i>
&nbsp;
    <i class="fa fa-twitter" style="color: #ffffff;" aria-hidden="true"></i>
    &nbsp;
    <i class="fa fa-linkedin" style="color: #ffffff;" aria-hidden="true"></i>
    &nbsp;
    <i class="fa fa-instagram" style="color: #ffffff;" aria-hidden="true"></i>
</div>
<div class="col-lg-4 col-md-4 col-sm-4">
  <h4 style="color: #ffffff;">About</h4>
  <p style="color: #ffffff;">Mahi Cupcakes is authentic…the real deal…baking scrumptious gourmet cupcakes and cupcake treats in house from scratch with our own Chef-created proprietary recipes, since March 2004! </p>
</div>
</div>
</div>
</div>
